@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.slide img{

  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 30px;
  position: relative;
  }

  .slide{
    transform: scaleX(0.5) scaleY(0.85);
    transition: transform 300ms;
    z-index: 50;
    position: relative;
    left: 100px;
  }

.slideouter{
  transform: scaleX(1) scaleY(0.65);
  transition: transform 300ms;
  position: relative;
  z-index: 2;

}

.activeSlide{
  transform: scale(1.0);
  transition: transform 300ms;
  opacity: 1;
  z-index: 99;
  position: relative;

}
  
  